In [2]:
import matplotlib.pyplot as plt
import numpy as np
from mplsoccer import Pitch, Sbopen
import pandas as pd

parser = Sbopen()
df, related, freeze, tactics = parser.event(69301)

In [16]:
team_name = "England Women's"
# check index of first sub
sub_index = df.loc[df["type_name"] == "Substitution"].loc[df["team_name"] == team_name].iloc[0]["index"]

# make df with only succesfull passes before first substitution
mask_passes = (df.type_name == "Pass") & (df.team_name == team_name) & (df.index < sub_index) & (df.outcome_name.isnull()) & (df.sub_type_name != "Throw-in")
df_passes = df.loc[mask_passes, ["x", "y", "end_x", "end_y", "player_name", "pass_recipient_name"]]

# adapt player names to only show last name
df_passes["player_name"] = df_passes["player_name"].apply(lambda x: str(x).split()[-1])
df_passes["pass_recipient_name"] = df_passes["pass_recipient_name"].apply(lambda x: str(x).split()[-1])
df_passes.head(20)

        x     y  end_x  end_y player_name pass_recipient_name
4    60.0  40.0   61.9   40.9       White               Kirby
8    82.6  37.6   78.4   58.5       Kirby              Bronze
11   84.7  65.3   98.9   77.9      Bronze              Parris
14   94.7  75.5   93.3   64.3      Parris               Scott
63    5.2   8.3   10.8    5.5       Moore                Mead
67   10.1   5.2    5.2    6.2        Mead           Greenwood
74    9.2  12.5   18.8    3.6   Greenwood                Mead
81   24.2  12.2   37.9   65.0        Mead              Bronze
100  13.9  25.5    9.7   20.4        Mead               Kirby
103  86.1  23.7  104.0   12.7       Kirby                Mead
134   6.0  36.0   12.2   13.6     Telford             McManus
137  12.0  23.9    4.3   38.4     McManus             Telford
141   5.2  38.4    2.0   48.2     Telford            Houghton
173  21.6  12.2   14.6   22.5   Greenwood             McManus
176  14.6  22.5   28.1   69.2     McManus              Bronze
179  29.5  69.0   37.7   57.1      Bronze               Scott
182  37.7  57.1   29.3   66.9       Scott              Bronze
185  29.1  66.9   22.1   41.2      Bronze             McManus
188  22.1  41.2   31.4   10.6     McManus           Greenwood
191  31.4  10.6   44.0    4.5   Greenwood                Mead